<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odd.delicacy.mapper.store.StoreMapper">

    <resultMap id="storeVO" type="com.odd.delicacy.entity.store.Store">
        <id     property="id"         column="id"         />
        <result property="storeName"   column="store_name"  />
        <result property="storeOpentime" column="store_opentime"/>
        <result property="storeAddress"   column="store_address"  />
        <result property="storeTele"  column="store_tele" />
        <result property="isConceal"  column="is_conceal" />
        <result property="isDeleted"  column="is_deleted" />
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="select">
        SELECT
            id,
            store_name,
            store_opentime,
            store_address,
            store_tele,
            is_conceal,
            is_deleted,
            create_time,
            update_time
        FROM
            store_info
    </sql>

    <insert id="insert" parameterType="com.odd.delicacy.entity.store.Store">
        INSERT INTO store_info
            (   store_name,
                store_opentime,
                store_address,
                store_tele,
             <if test="isConceal != null" >
                 is_conceal,
             </if>
             <if test="isDeleted != null" >
                 is_deleted,
             </if>
                create_time)
        VALUES
             (#{storeName},#{storeOpentime},#{storeAddress},#{storeTele},
              <if test="isConceal !=null" >#{isConceal},</if>
               <if test="isDeleted != null">#{isDeleted},</if>
                now())

    </insert>

    <select id="findList" parameterType="com.odd.delicacy.entity.store.Store" resultMap="storeVO">
        <include refid="select"/>
        WHERE
        <if test="isConceal != null">
            is_conceal = #{isConceal} AND
        </if>
        is_deleted = 0
    </select>

    <update id="update" parameterType="com.odd.delicacy.entity.store.Store">
        UPDATE store_info
        <set>
            <if test="storeName != null and storeName != ''">
                store_name = #{storeName},
            </if>
            <if test="storeOpentime != null and storeOpentime != ''">
                store_opentime = #{storeOpentime},
            </if>
            <if test="storeAddress != null and storeAddress != ''">
                store_address = #{storeAddress},
            </if>
            <if test="storeTele != null and storeTele != ''">
                store_tele = #{storeTele},
            </if>
            <if test="isConceal != null">
                is_conceal = #{isConceal},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            update_time = now()

            where id = #{id}
        </set>
    </update>

    <select id="findById" resultType="Store">
        SELECT
            id,
            store_name,
            store_opentime,
            store_address,
            store_tele,
            is_conceal,
            is_deleted,
            create_time,
            update_time
        FROM
            store_info
        WHERE
            id = #{id}
    </select>

    <update id="deleteAll">
        UPDATE store_info SET is_deleted = 1
        WHERE id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>

    <update id="deleteById" parameterType="long">
        UPDATE store_info
        SET is_deleted = 1, update_time = now()
        WHERE id = #{id}
    </update>
</mapper>