/commons/target/
/odd-dao/target/
/odd-service/target/
/odd-web/target/
/odd-web/src/main/resources/jdbc-dev.properties
/odd-bean/target/
/.idea/
/out/
/**/*.iml
#注意 排除了以上文件后本次推送相当于删除了很多文件，例如.idea下面
#的一些配置文件，大家拉取之后需要清除掉之前的git跟踪文件：
# git rm -r --cached .
# 然后再重新跟踪所有文件：
# git add .
# 这样才会忽略掉以上文件，可以放心提交不会包含不相关的文件。
# 